


pre {

	border: 2px solid powderblue;
}


p {

	color: white;
	font-family: comic;
}

pre {

	color: white;
	font-family: verdana;
}

h3 {

	color: black;
	font-family: arial;
}

body {

background-color:grey;

}