p {

	color: white;
	font-family: comic;
}

pre {

	color: white;
	font-family: ubuntu;
}

h3 {

	color: orange;
	font-family: arial;
}

div.wibowo {

	background-color: black;
	color: white;
	margin: 20px 0 20px 0;
	padding: 20px;
}

body {

	background-color:purple;
}